{% extends "base.html" %}
{% block content %}
    <center>
        <h1>Payment Failed</h1>
        <p><a class="nav-link" href="{% url 'pricing' %}">Try Again</a></p>
    </center>
{% endblock content %}