{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <center>
            <h3>Select a plan</h3>
            <div class="price-list">
                {% for plan in plans %}
                    <div>
                        <h1>{{ plan.product.name }}</h1>
                        <p>
                            $ {{ plan.amount }}
                        </p>
                        <button onclick="storeValue('{{ plan.product.id }}','{{ plan.id }}')" class="btn-primary">Try
                            free for 7 days
                        </button>
                    </div>
                {% endfor %}
            </div>
        </center>
    </main>
{% endblock content %}