{% extends "base.html" %}
{% block content %}
    <h1>User Details</h1>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <h2>Subscription Details</h2>
    <p>Plan Name: {{ subscription.plan.product.name }}</p>
    <p>Plan Price: ${{ subscription.plan.amount }}</p>
    <p>Billing Period: {% if subscription.plan.interval == 'month' %}Monthly{% endif %}</p>
    <p id="status">Subscription Status: {{ subscription.status }}</p>
    {% if subscription.status != 'canceled' %}
        <button onclick="cancelSubscription('{{ subscription.id }}')">Cancel Subscription</button>
    {% endif %}
{% endblock content %}
