{% extends "base.html" %}
{% block content %}
    {% if subscription %}
        <h1>User Subscription Details</h1>
        <h2>Billing Details</h2>
        <p>Billing Name: {{ customer.name }}</p>
        <p>Billing Address: {{ customer.address.line1 }}</p>
        <p>Country: {{ customer.address.country }}</p>
        <p>State: {{ customer.address.state }}</p>
        <p>City: {{ customer.address.city }}</p>
        <p>Postal Code: {{ customer.address.postal_code }}</p>


        <h2>Payment Details</h2>
        {% if card_details %}
            {% for detail in card_details %}
                <p>Card Holder Name: {{ detail.name }}</p>
                <p>Card Number: **** **** **** {{ detail.last }}</p>
                <p>Expiry Month: {{ detail.exp_month }} | Expiry Year: {{ detail.exp_year }} || CVV: *** </p>
            {% endfor %}
        {% endif %}
    {% else %}
        <center><h2>Your subscription is cancelled</h2></center>
    {% endif %}
{% endblock content %}
