{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form id="registration" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <label>Billing Address*</label>
            <textarea id="id_billing_address" name="billing_address"
                      placeholder="Enter Billing Address" required rows="4"></textarea>
            <span class="error" id="billing_add_error"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_country">Country*</label>
                    <input class="form-control" id="id_country" name="country" placeholder="Enter Country" required
                           type="text">
                    <span class="error" id="country_error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_state">State*</label>
                    <input class="form-control" id="id_state" name="state" placeholder="Enter State" required
                           type="text">
                    <span class="error" id="state_error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_city">City*</label>
                    <input class="form-control" id="id_city" name="country" placeholder="Enter City" required
                           type="text">
                    <span class="error" id="city_error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_postal_code">Postal Code*</label>
                    <input class="form-control" id="id_postal_code" name="postal_code" placeholder="Enter Postal Code"
                           required
                           type="text">
                    <span class="error" id="zip_error"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="id_card_holder">Cardholder Name*</label>
            <input class="form-control" id="id_card_holder" name="card_holder" placeholder="Enter Cardholder Name "
                   required
                   type="text">
            <span class="error" id="card_name_error"></span>
        </div>
        <div class="form-group">
            <label for="id_card_num">Card Number*</label>
            <div class="pwd-field card_pwd_field">
                <input class="form-control" id="id_card_num" name="card_num" placeholder="Enter Card Number " required
                       type="password">
            </div>
            <span class="error" id="card_num_error"></span>
        </div>
        <div class="row mb-50">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="id_expiry_month">Expiry Month*</label>
                    <div>
                        <select id="id_expiry_month">
                            <option value="0">MM</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <span class="error" id="card_month_error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="id_expiry_year">Expiry Year*</label>
                    <div>
                        <select class="select-area" id="id_expiry_year">
                            <option value="0">YYYY</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                            <option>2027</option>
                            <option>2028</option>
                            <option>2029</option>
                            <option>2030</option>
                        </select>
                    </div>
                    <span class="error" id="card_year_error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="id_cvv">CVV*</label>
                    <div class="pwd-field cvv_pwd_field">
                        <input class="form-control" id="id_cvv" name="cvv" placeholder="Enter CVV" required
                               type="password">
                    </div>
                    <span class="error" id="card_cvv_error"></span>
                </div>

            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="submit" type="submit" onclick="createCustomer()">Register</button>
        </div>
    </form>
{% endblock content %}
